.card {
  width: 100%;
  height: 200px;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  margin-bottom: 2rem;
  .content {
    font-family: "Open Sans";
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: all 500ms ease-in-out;
    transform: translate(0, 20px);
    cursor: pointer;
    width: 100%;
    h1 {
      font-size: 2.5rem;
      color: gray;
    }
    p {
      font-size: 10px;
      color: white;
      margin-bottom: 20px;
    }

    .btn {
      background-color: gray;
      color: black;
      font-weight: bold;
      padding: 10px;
      text-decoration: none;
    }
    &:hover {
      opacity: 1;
      transform: translate(0, 0px);
    }
  }
}

.card3 {
  width: 60%;
  height: 200px;
  overflow: hidden !important;
  text-align: center;

  background-color: black;

  .activity-title {
    color: white;
    font-weight: bolder;
    font-size: 3vw;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s;
  }
  .summary {
    color: red;
  }
  .activity-title:hover {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 700px) {
  .card {
    width: 50%;
    height: 70px;
    .content{
      h1 {
        font-size:1rem;
        color: gray;
      }
      .btn {
        background-color: gray;
        color: black;
        font-weight: bold;
        padding: 5px;
        text-decoration: none;
      }
    }
  }
  
 
}

@media screen and (max-width: 1200px) {
  .card {
    width: 70%;
    height: 100px;
    .content{
      h1 {
        font-size:1rem;
        color: gray;
      }
      .btn {
        background-color: gray;
        color: black;
        font-weight: bold;
        padding: 5px;
        text-decoration: none;
      }
    }
  }
  
}

