.about {
  height: 100vh;
  width: 100%;
  background-color: black;
  margin-top: 5em;
}

#demo {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  color: grey;
  text-align: left;
}

.btn-cv {
  background-color: gray;
  color: black;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  top: 45%;
  left: 14vw;
  
}

#title {
  font-size: 1.3rem;
  color: white;
}

.droite {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}
.image {
  position: absolute;
  width: 90vw;
  height: 150%;
  margin-top: -60vh;
  margin-left: 35%;
}

@media screen and (max-width: 1200px) {
  .image {
    display: none;
  }
  #demo {
    margin-left: 20%;
    margin-bottom: 5%;   
    text-align: left;
  }
  .btn-cv {

    margin-top: 18vh;
    width: 30vw;
    left:32%;
  }
}