.about {
  height: 100vh;
  width: 100%;
  background-color: black;
  margin-top: 5em;
}

#demo {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  color: grey;
}


#title {
  font-size: 1.3rem;
  color: white;
}

.droite {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}
.image {
  position: absolute;
  width: 90vw;
  height: 150%;
  margin-top: -60vh;
  margin-left: 35%;
}


