

 .content-div2 {
   width: 40vw;
   display: block;
   margin-right: 5%;
   margin-left: 2%;
   color: aliceblue;
   margin-right: 10%;
   font-size: 0.85rem;
 }
 .image-descript-div {
   width: 60vw;
   height: 100vh;
   margin-left: -1%;
 }


 