
.project-wrapper {
  
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;

  .grid {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 8rem;
    margin-left: 5%;

  }
  
  @media screen and (max-width: 1200px) {
    .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    }
  }

  @media screen and (max-width: 700px) {
    .grid {
      margin-left: 20%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
    }
  }
  
}

