.portfolio {
   
    position: absolute;
    font-family: 'Waiting for the Sunrise', cursive;
    /* border-right: .1em solid orange;  */
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    letter-spacing: 10px;
  
}

